{% extends "base.html" %}

{% block "title" %}Search results{% endblock %}

{% block "content" %}
<form action="{% url 'char_search' %}" class="d-flex" method="get">
    <input class="form-control me-2" type="text" name="query" placeholder="Search">
    <button type="submit" class="btn btn-primary m-2">Search</button>
</form>

{% if query %}
<div class="display-5 pb-5">Search {{ query }} results:</div>
{% endif %}
{% if chars %}
    {% for char in chars %}
        <a href="{% url 'character' char.pk %}"><p>{{ char }} - {{ char.groups.name }} - {{ char.species.name }} - {{ char.setting }}</p></a>
    {% endfor %}
{% else %}
    <p>No results found.</p>
{% endif %}
{% endblock %}