{% extends "base.html" %}

{% block "title" %}Characters{% endblock %}

{% block "content" %}
<div class="display-5 pb-5">Characters:</div>
{% for character in characters %}
<a href="{{ character.pk }}"><p>{{ character }}</p></a>
{% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">back</a>
            {% endif %}
            <span class="current">
                {{ page_obj.number }} is {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">forward</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}